#canvas1{
    border: 5px solid black;
    width: 600px;
    height: 600px;
}
#dog{
    position: absolute;
    top: 24px;
    left: 24px;
    width: 78px;
    height: 33px;
    font-size: 18px;
    padding: 6px;
    border-radius: 6px;
    z-index: 100;
}
body>div{
    position: relative;
    height:708px;
    width: 708px;
    margin: auto;
}